node_modules
*.sw?
built
typings/
tmp/
*.ts.new
temp/
projects/
packaged
gh-pages
*.user
*.sw?
*.ts.new
*.tgz
*.db
*.suo
*.log
.vscode/.BROWSE.VC.DB-shm
.vscode/.BROWSE.VC.DB-wal
hexcache
build
crowdinstats.csv
